name: Infrastructure

on:
  workflow_dispatch:
  push:
  pull_request:

env:
  PRODUCTION_REF: refs/heads/main
  CLOUDSDK_AUTH_CREDENTIAL_FILE_OVERRIDE: terraform/terraform-service-key.json
  CLOUDSDK_CORE_ACCOUNT: ${{ secrets.GCP_CLIENT_EMAIL }}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: google-github-actions/setup-gcloud@v2
      - run: echo '${{ secrets.GOOGLE_CREDENTIALS }}' > $CLOUDSDK_AUTH_CREDENTIAL_FILE_OVERRIDE
      - run: make docker/build
      - run: make docker/login
      - run: make docker/push
        if: github.ref == env.PRODUCTION_REF
  terraform:
    runs-on: ubuntu-latest
    needs: [docker]
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
      - run: echo '${{ secrets.GOOGLE_CREDENTIALS }}' > $CLOUDSDK_AUTH_CREDENTIAL_FILE_OVERRIDE
      # Checks that all Terraform configuration files adhere to a canonical format
      - run: make lint/terraform
      - run: make devops/terraform/init
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build:wrangler
      - run: make devops/terraform/plan
      - run: make devops/terraform/apply
        if: github.ref == env.PRODUCTION_REF
